@import "tailwindcss";

:root {
}

@theme {
  --color-grey: #7e7e7e;
  --color-background: #e6fdff;
  --color-base: #d4f1f4;
  --color-pastel: #a6e3e9;
  --color-primary: #63d3de;
  --color-text1: #091f32;
  --color-text2: #2f798a;
  --color-accent: #ff3e7e;
}
